<h1>Homepage</h1>

</br>
<p>
  <a href="#" class="section-button">This links to something cool!</a>
</p>

<p>
  <a href="#" class="btn-primary">This links to something boring!</a>
</p>

<p>
  <a href="#" class="button-gray">normal button</a>
</p>


<p>
  <a href="#" class="button-indigo">normal button</a>
 <%# bg-indigo-600 hover:bg-indigo-500 focus-visible:outline-indigo-600 ring-indigo-300 text-white %>
</p>
