<div id="flash" class="flex w-full flex-col items-center justify-center p-2">
  <% flash.each do |msg_type, message| %>
    <%= render partial: "shared/flash", locals: { msg_type: msg_type, message: message } %>
  <% end %>
</div>
