@layer components {
  .btn-primary {
    @apply text-white py-2 px-4 rounded bg-indigo-500 hover:bg-indigo-600 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5;
  }

  .btn-main {
    @apply bg-sky-600 hover:bg-sky-700 px-3 py-2 text-white rounded-lg;
  }

  .section-button {
    @apply bg-blue-200;
    transition:
      font-weight 0.1s ease,
      clip-path 0.2s ease;
    display: inline-block;
    padding: 1em 1.5em;
    color: #191919;
    text-decoration: none;
    text-align: center;
    line-height: normal;
    -webkit-appearance: none;
    border: 0;
    box-shadow: none;
    clip-path: polygon(
      5% 10%,
      46% 1%,
      46% 10%,
      100% 0,
      95% 90%,
      31% 100%,
      31% 90%,
      0% 100%
    );

    &:visited {
      color: #191919;
    }

    &:hover {
      color: #191919;
      cursor: pointer;
      text-decoration: none;
      font-weight: 800;
      clip-path: polygon(
        5% 10%,
        66% 1%,
        66% 10%,
        100% 0,
        95% 90%,
        51% 100%,
        51% 90%,
        0% 100%
      );
    }
  }
}
